.container {
    width: 100%;
}
.news {
    display: flex;
    flex-direction: column;
    gap:80px;
    font-family: 'Roboto', sans-serif;
    background: #fff;
}
main {
    background: #fff;
}
body {
    background: #fff;
}
#articles {
    display: flex;
    flex-direction: column;
    gap:80px;
    font-family: 'Roboto', sans-serif;
}
.date {
    font-weight: 500;
font-size: 14px;
line-height: 143%;
color: rgba(24, 128, 207, 0.64);
}
.new__header {
    font-weight: 700;
font-size: 40px;
line-height: 150%;
color: #000;
font-family: 'InvolveBold', sans-serif;
}
.new__body {
    position: relative;
}
.new__body-subheader {
    font-weight: 400;
font-size: 20px;
line-height: 156%;
color: #000;

}
.new__body-header {
    font-style: italic;
    font-weight: 700;
    font-size: 52px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    margin: 40px 0;
    font-family: 'Ext', sans-serif;
}
.new__body-content {
    font-weight: 400;
font-size: 20px;
line-height: 156%;
color: #000;
}
.new__header-content {
    padding: 0 50px;
}
.new__body-container {
    width: 800px;
    margin: 0 auto;
}
.new__image-container {
    width: 100%;
    aspect-ratio: 10 / 6;
    margin: 32px 0 40px;
}
img.new__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.line {
    width: 40px;
    height: 100%;
    background-image: url('../assets/images/line.jpg');
    background-repeat: repeat-y;
    position: absolute;
    top:0
}
.new__body .line:first-child {
    left:0;
}
.new__body .line:last-child {
    right:0;
}
@media (max-width:1440px) {
    .new__body {
        width: 100%;
    }
    .new__body-container {
        width: 700px;
        margin: 0 auto;
    }
}
@media (max-width:1024px) {
    .new__body-container {
        width: 670px;
    }
    .line {
        width: 18px;

        background-size: contain;
    }
}
@media (max-width:768px) {

    .new__header {
        font-size:28px;
    }
    .new__body-content {
        font-size:18px;
    }
    .new__body-header {
        font-size: 30px;
    }
    .new__body-container {
        width: 320px;
    }

}
span.pagination-arrow {
    background: #1F1F1F;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
span.pagination-arrow.end {
    opacity: 0.3;
}
span.page-item.active {
    width: 40px;
    height: 40px;
    background: #1F1F1F;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 16px;
}
span.page-item {
    width: 40px;
    height: 40px;
    font-size: 16px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1F1F1F;
    border:1px solid #1F1F1F;
}
div#pagination {
    display: flex;
    justify-content: center;
    gap: 5px;
}
@media (max-width:768px) {
    
}